{
    "presets": [
        "@babel/preset-react",
        "@babel/plugin-syntax-dynamic-import",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }]
    ]
}
